<section class="basil-testimonials">
  <div class="container">
    <div class="testimonial-header">
      <div>
        <div class="basil-testimonial-rating">
          <div>★★★★★</div>
          <span>4.7 stars | 1 Lakh+ Happy Families</span>
        </div>

        <h2>Loved by Little Hands, Approved by Big Hearts</h2>

        <p>FROM PARENTS & THEIR MINIONS</p>
      </div>
    </div>

    <div class="testimonial-cards">
      {% for block in section.blocks %}
        <div class="testimonial-card">
          <img
            src="{{ block.settings.image | image_url: width:500 }}"
          >

          <div class="testimonial-content">
            <div class="stars">★★★★★</div>

            <h4>
              {{ block.settings.title }}
            </h4>

            <p>
              {{ block.settings.text }}
            </p>

            <span class="author">
              {{ block.settings.author }}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Basil Testimonials",
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "text", "id": "title", "label": "Title" },
        { "type": "textarea", "id": "text", "label": "Text" },
        { "type": "text", "id": "author", "label": "Author" }
      ]
    }
  ],
  "presets": [{ "name": "Basil Testimonials" }]
}
{% endschema %}
