
<header class="container">
  <div style="display:flex;justify-content:space-between;align-items:center">
    <h2>{{ shop.name }}</h2>
    <nav>
      <a href="/collections/all">Shop</a>
      <a href="/blogs/news">Blog</a>
      <a href="/cart">Cart</a>
    </nav>
  </div>
</header>

{% schema %}
{ "name":"Header","settings":[] }
{% endschema %}
